@model IEnumerable<CrowdOrder.beta.Models.SignUp>
@using CrowdOrder.beta.Infrastructure;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h1>Website Admin</h1>
                <ol>
                    <li><a href="@UrlRewriteService.FixUrl(Context.Request.Host.Value, "")">Home</a></li>
                    <li><a href="~/Admin">Website Admin</a></li>
                    <li>Affiliate Sign Ups</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">            
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeStamp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Affiliate.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReconciledDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeStamp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Affiliate.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReconciledDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </section>
</main>

