@using Microsoft.AspNetCore.Identity
@using CrowdOrder.beta.Infrastructure;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SiteDataService siteDataService
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



@{
    ViewData["Title"] = "Discount software and services for small business";
}
@section metatags{
    <meta name="description" content="Crowd Order secures exclusive, can't-be-beaten discounts on market-leading software and services for start-ups and small businesses. Register for free today!" />
    <meta property='og:title' content='Crowd Order' />
    <meta property='og:image' content='@UrlRewriteService.FixUrl(Context.Request.Host.Value, "img/Logo.png")' />
    <meta property='og:description' content='The only marketplace where companies offer exclusive rates to start-ups and small businesses' />
    <meta property='og:url' content='@UrlRewriteService.FixUrl(Context.Request.Host.Value, "")' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@UrlRewriteService.FixUrl(Context.Request.Host.Value, "")' />
    <meta name='twitter:title' content='Crowd Order' />
    <meta name='twitter:description' content='The only marketplace where companies offer exclusive rates to start-ups and small businesses' />
    <meta name='twitter:image' content='@UrlRewriteService.FixUrl(Context.Request.Host.Value, "img/Logo.png")' />
}
<section id="hero" class="section-bg">
    <div id="heroCarousel" class="slide carousel-fade">
        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <div class="container">
                        <div class="row content">
                            <div class="col-lg-6 align-text-bottom">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                <h1 class="animate__animated animate__fadeInDown">Welcome to Crowd Order!</h1>
                                <p class="animate__animated animate__fadeInUp">
                                    Now you’re a registered user, you’ll be able to see the details of the discounts available on each of the services pages.
                                    <br />
                                    When you’ve found one that interests you, just click on ‘Connect to Partner’ and we’ll make the introduction. You’re not committing yourself to anything at this stage; it’s just an expression of interest. The next step will be directly with the supplier, leveraging the Crowd Order discount.
                                </p>
                                }
                                else
                                {
                                <h1 class="animate__animated animate__fadeInDown">Exclusive discounts on software and services for small businesses</h1>
                                <p class="animate__animated animate__fadeInUp largerfont">
                                    Crowd Order's mission is simple: we combine the buying power of our community to negotiate discounts with market-leading software and service providers, so you pay less.
                                </p>
                                }


                                @if (!SignInManager.IsSignedIn(User))
                                {
                                <form id="external-account" asp-area="Identity" asp-page="/Account/ExternalLogin"
                                      asp-route-returnUrl="/" method="post">
                                    <a asp-area="Identity" asp-page="/Account/Register" class="btn-get-started animate__animated animate__fadeInUp scrollto">Register your business for free</a>
                                    <button type="submit" asp-area="Identity" name="provider" value="Google" asp-page="/Account/Externallogin" class="btn-get-started animate__animated animate__fadeInUp scrollto loginBtn--google">    </button>
                                </form>
                                }
                                else{
                                
                                    <a href="@UrlRewriteService.FixUrl(Context.Request.Host.Value, "small-business-start-up-services")" class="btn-get-started animate__animated animate__fadeInUp scrollto">Browse services</a>
                                }
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 homeSmallImgFix hideSmall">
                                <img src="~/img/Homepage Banner.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->
<main id="main">
    <!-- ======= Who Section ======= -->
    <section id="who" class="about">
        <div class="home-container">
            <div class="container">
                <div class="row content">
                    <div class="col-lg-6  pt-4 pt-lg-0">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <h2>Not sure where to start?</h2>
                            <p>
                                Every small business is different, so we’d suggest browsing through the products and services on offer to see if inspiration strikes you! From finance to marketing, operations to HR, there’s something for everyone. That said, if you’d like a steer, we’ve written a simple guide to the most popular services on our platform, by company size.
                            </p>
                            <a href="@UrlRewriteService.FixUrl(Context.Request.Host.Value, "small-business-start-up-services")" class="btn-get-started">Browse services</a>
                        }
                        else
                        {
                            <h2>Who is Crowd Order for?</h2>
                            <p>
                                Crowd Order is for small businesses and start-ups who are growing fast, and need support for anything from <a href="/financial-accountancy-offers-discounts/accounting-bookkeeping">bookkeeping</a> to <a href="/marketing-services-offers-discounts/branding-services">
                                    designing a new logo
                                </a>.
                                We handpick the best reviewed and most reputable service providers in the market, and negotiate discounts on behalf of our community, so your small business benefits from big purchasing power.
                            </p>
                            <a asp-area="Identity" asp-page="/Account/Register" class="get-started-btn animate__animated animate__fadeInUp scrollto">Register for free</a>
                        }
                    </div>
                    <div class="col-lg-6 hideSmall">
                        <img src="~/img/Who we are500.png" />
                    </div>
                    <div class="col-lg-6 hideBig">
                        <img src="~/img/Who we are320.png" />
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Who Section -->
    <!-- ======= what Section ======= -->
    <section id="what" class="about">
        <div class="home-container">
            <div class="container">

                <div class="row content">
                    <div class="col-lg-6  pt-4 pt-lg-0 hideSmall">
                        <img src="~/img/commerce500.png" />
                    </div>
                    <div class="col-lg-6">
                        @if (SignInManager.IsSignedIn(User))
                        {
                        <h2> What if you can’t find a provider for the service you need?</h2>
                        <p>
                            We are pretty selective about the service providers we add to Crowd Order <a href='@UrlRewriteService.FixUrl(Context.Request.Host.Value, "about-us")'>(find out more about how we go about choosing suppliers)</a>, but we are always open to suggestions. Please get in touch whether you have a general need or a specific supplier in mind, and we’ll see what we can do.
                        </p>
                        <p>
                            Secondly, because some of the deals we have secured are so competitive, they can't be made public. After you've signed up, the full details of every discount is available to view on the site, and it's then up to you which deals you want to explore further.
                            <i>Your email won't be shared with any partners unless you actively contact them, so don't worry about being drowned in emails you didn't request.</i>'
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/CrowdOrder" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://www.facebook.com/crowdorder" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://linkedin.com/company/crowdorder" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                        }
                        else
                        {
                        <h2>How does Crowd Order work?</h2>
                        <p class="hideBig">
                            <ol class="hideBig">
                                <li>We use the buying power of our thousands of users to secure special rates that wouldn't otherwise be available to small businesses.</li>
                                <li>Some of these deals are so competitive, they can not be made public! That's why we ask you to register as a user, but your email won't be passed to any service provider; it's up to you whether to take the next steps.</li>
                            </ol>
                        </p>
                        <p class="hideSmall">
                            We ask you to register for Crowd Order for two reasons: firstly because it is through volume of users that we can negotiate the best deals (we're effectively aggregating your buyer power to secure special rates that wouldn't otherwise be available to small businesses).
                        </p>
                        <p class="hideSmall">
                            Secondly, because some of the deals we have secured are so competitive, they can't be made public. After you've signed up, the full details of every discount is available to view on the site, and it's then up to you which deals you want to explore further.
                            <i>Your email won't be shared with any partners unless you actively contact them, so don't worry about being drowned in emails you didn't request.</i>
                        </p>

                        <a asp-area="Identity" asp-page="/Account/Register" class="get-started-btn animate__animated animate__fadeInUp scrollto">Register for free</a>
                        }
                    </div>
                    <div class="col-lg-6  pt-4 pt-lg-0 hideBig">
                        <img src="~/img/commerce320.png" />
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    @if (!SignInManager.IsSignedIn(User))
    {
        <!-- ======= available Section ======= -->
        <section id="available" class="about">
            <div class="home-container">
                <div class="container">
                    <div class="row content">
                        <div class="col-lg-6">
                            <h2>What services are available?</h2>
                            <p class="hideBig">We aim to offer a choice of suppliers for every small business need. Here are some of the most requested services:</p>
                            <p class="hideBig">
                                <ol class="hideBig">
                                    <li><a href="/hr-people-services-offers-discounts">HR and People discounted services</a></li>
                                    <li><a href="/business-operations-services-offers-discounts/outsourced-administration-pa-services">Virtual Assistants</a></li>
                                    <li><a href="/project-management-services-offers-discounts/project-management-software">Project management software</a></li>
                                    <li><a href="/logistics-services-offers-discounts/procurement-logistics">Fulfilment support</a></li>
                                    <li><a href="/marketing-services-offers-discounts/CRM">CRM software</a></li>
                                    <li><a href="/marketing-services-offers-discounts/email-marketing">Email marketing</a></li>
                                    <li><a href="/marketing-services-offers-discounts/branding-services">Branding support</a></li>
                                    <li><a href="/marketing-services-offers-discounts/content-marketing">Digital marketing</a></li>
                                    <li><a href="/financial-accountancy-offers-discounts/accounting-bookkeeping">Outsourced accounting</a></li>
                                    <li><a href="/financial-accountancy-offers-discounts/payment-solutions">Payment processing services</a></li>
                                </ol>
                            </p>
                            <p class="hideSmall">We aim to offer a choice of suppliers for every small business need. If you want to incentivise and reward your team, or speed up the onboarding process for new starters, have a look at our <a href="/hr-people-services-offers-discounts">HR and People discounted services</a>. If you need some help with admin tasks, a <a href="/outsourced-administration-pa-services">virtual assistant</a> might be the solution.</p>
                            <p class="hideSmall">If you need <a href="/project-management-services-offers-discounts">project management software</a> to streamline your business processes, we have fantastic rates with some of the finest software providers around. How about <a href="/logistics-services-offers-discounts">fulfilment support</a> getting your products to your customers? Our service providers can integrate with your eCommerce platform and make this process seamless and at a lower price than you're paying today.</p>
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 hideSmall">
                            <img src="~/img/What's available500.png" />
                        </div>
                    </div>
                    <div class="row content hideSmall">
                        <div class="col-lg-6">
                            <img src="~/img/Services - Finance.png" />
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 hideSmall">
                            <p>Sales and marketing is the lifeblood of small businesses; from <a href="/marketing-services-offers-discounts/CRM">CRM software</a> to manage sales, to <a href="/marketing-services-offers-discounts/email-marketing">email marketing</a>; from <a href="/marketing-services-offers-discounts/branding-services">branding support</a> to <a href="/marketing-services-offers-discounts/content-marketing">digital marketing</a>, our partners specialise in accelerating growth in start-ups and small businesses alike.</p>
                            <p><a href="/financial-accountancy-offers-discounts">Outsourced accounting</a> and bookkeeping services ensure that you can focus on where you add value to your business rather than trying to navigate tax relief claims yourself. We even have discounts with <a href="/financial-accountancy-offers-discounts/payment-solutions">payment processing services</a> so you can take payments online or over the phone without having to worry about PCI compliance</p>
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <a asp-area="Identity" asp-page="/Account/Register" class="get-started-btn animate__animated animate__fadeInUp scrollto">Register for free</a>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </section><!-- End Whats Section -->
    }
        <!-- ======= Partners Section ======= -->
        <section id="clients" class="clients hideSmall">
            <div class="home-container">
                <div class="container">
                    <div class="row content">
                        <h2>Some of our most popular partners</h2>
                    </div>

                    <div class="row">
                        <div class="home-container">
                            <div class="container">
                                <div class="row content">
                                    <div class="row" style="padding: 20px;">
                                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                            <a href="small-business-start-up-services/mazuma-money"><img src="partners/Mazuma_Logo.png" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                            <a href="small-business-start-up-services/opayo"><img src="partners/Opayo.png" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                            <a href="small-business-start-up-services/pipedrive"><img src="partners/pipedrive_logo.png" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                            <a href="small-business-start-up-services/monday-dot-com"><img src="partners/mondaydotcom.png" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                            <a href="small-business-start-up-services/get-response"><img src="partners/get-response.png" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                            <a href="small-business-start-up-services/you-at-work"><img src="partners/You_at_work_logo.png" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Clients Section -->
        <!-- ======= blog Section ======= -->

        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Our Blog</h2>
                    <p>Latest information from our team</p>
                </div>

                <div class="row">
                    @foreach (var item in siteDataService.GetLatestBlogs(2))
                    {
                        var first = true;
                        if (first)
                        {
                            first = false;
                            <div class="col-md-6">
                                <div class="icon-box">
                                    <h4><a href="@UrlRewriteService.FixUrl(Context.Request.Host.Value, $"small-business-start-up-blogs-guides/{item.Url}")">@item.Title</a></h4>
                                    <img src="@UrlRewriteService.FixUrl(Context.Request.Host.Value, $"img/blogs/{item.MainImagePath}")" style="max-width:100%" />
                                    <p>@item.Abstract</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 mt-4 mt-md-0">
                                <div class="icon-box">
                                    <h4><a href="@UrlRewriteService.FixUrl(Context.Request.Host.Value, $"small-business-start-up-blogs-guides/{item.Url}")">@item.Title</a></h4>
                                    <img src="@UrlRewriteService.FixUrl(Context.Request.Host.Value, $"img/blogs/{item.MainImagePath}")" style="max-width:100%" />
                                    <p>@item.Abstract</p>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </section><!-- End Services Section -->
    </main><!-- End #main -->
