@model CrowdOrder.beta.Models.SubCategory
@using CrowdOrder.beta.Infrastructure;
@{
    ViewData["Title"] = Model.Title;
}
@section metatags
{
    <meta name="description" content="@Model.MetaDescription" />
    <meta property='og:title' content='Crowd Order' />
    <meta property='og:image' content='@UrlRewriteService.FixUrl(Context.Request.Host.Value, "Logo100.png")' />
    <meta property='og:description' content='@Model.MetaDescription' />
    <meta property='og:url' content='@UrlRewriteService.FixUrl(Context.Request.Host.Value, Model.Url)' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@UrlRewriteService.FixUrl(Context.Request.Host.Value, Model.Url)' />
    <meta name='twitter:title' content='Crowd Order' />
    <meta name='twitter:description' content='@Model.MetaDescription' />
    <meta name='twitter:image' content='@UrlRewriteService.FixUrl(Context.Request.Host.Value, "Logo100.png")' />
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="/small-business-start-up-services">Services</a></li>
                    <li>@Model.Name</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section id="blog" class="blog">
        <div class="container">

            <div class="row">
                <h1>@Html.DisplayFor(model => model.H1)</h1>
                <p>@Html.DisplayFor(model => model.Body)</p>
                <div class="row">
                    @foreach (var item in Model.Services)
                    {
                        <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                            <div class="entry">

                                <div class="entry-img">
                                    <img src="@UrlRewriteService.FixUrl(Context.Request.Host.Value, $"/Partners/{item.Partner.LogoUrl}")" alt="" class="img-fluid">
                                </div>

                                <h2 class="entry-title">
                                    @Html.DisplayFor(modelItem => item.Partner.Title)
                                </h2>

                                <div class="entry-content">
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Partner.Body)
                                    </p>
                                    <div class="read-more">
                                        <a href="@UrlRewriteService.FixUrl(Context.Request.Host.Value, item.Partner.Url)">Click here for offers</a>
                                    </div>
                                </div>

                            </div><!-- End blog entry -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

</main>
